<link rel="stylesheet" type="text/css" href="css/home.css" />

<!-- jquery -->
<script type="text/javascript" src="js/jquery.js"></script>
<link rel="stylesheet" type="text/css"  href="css/bootstrap.min.css"/>
<script type="text/javascript" src="js/bootstrap.min.js"></script>



<body class="bg-color">
    <div class="container container-color">
        <br/>

        <!-- IMAGEM SONDA -->
        <div>
            <img class="logo02" src="/img/logo-sonda-color.png" alt="SONDA" >
        </div>

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active disabled">PLCM - CADASTRO E GESTÃO</a>
            <a href="/cadProduto" target="_blank" class="list-group-item list-group-item-action">Formulário Cadastro de Produto e Gestão</a>
            <a href="/cadVisitas" target="_blank" class="list-group-item list-group-item-action">Formulário Cadastro de Visitas ao Cliente</a>
            <a href="/dashVisitas" target="_blank" class="list-group-item list-group-item-action">Dash Visitas</a>
            <a href="/dashSegmento" target="_blank" class="list-group-item list-group-item-action">Dash Segmentos</a>
        </div>

    </div>
</body>

